.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}

.header_menu {
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main_contents {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20px;
}

.q_and_a_box {
    border: 1px solid;
    width: 80%;
}

.question_box {
    /* height: 200px; */
    border-bottom: 1px solid;
}

.answer_box {
    /* height: 500px; */
}

footer {
    border-top: 2px solid;
    margin-top: auto;
}

small {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 質問投稿画面 */

/* .main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
} */

.create_container {
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin-top: 20px;
    width: 80%;
    border: 1px solid; */
}
.question_form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 20px;
    width: 80%;
    border: 1px solid;
}
